name: Tuist CI

on:
  push:
    branches:
      - main
      - development
      - ci
  pull_request:
    branches:
      - main
      - development

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: macos-26
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
      - run: tuist auth login
      - run: tuist setup cache
